.customjumbo {

	background-color: #254117;

}

.newnavbar {
	background-color: #EDC9AF;
}


.newbut {
	background-color: #EDC9AF;
	color: #FFFFFF ;
}
.newer{
	background-color: #FFFFFF;
}

p {
font-family: 'Raleway:50';
font-size: 12px;
}

